<!DOCTYPE html>
<html>
<head>
	<title>buscar denuncias</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="container">
		<section class="principal">
			<h1>Busqueda de denuncias</h1>
			<div class="form1-2">
				<label for="caja_busqueda">Buscar</label>
				<input type="text" name="caja_busqueda" id="caja_busqueda">
			</div><br><br>

			<div id="datos">
	
			</div>
		</section>
	</div>
	<script src="jquery.min.js"></script>
	<script src="peticion.js"></script>

</body>
</html>

