<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Camino Seguro-Tus denuncias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="librerias/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="librerias/alertifyjs/css/alertify.css">
    <link rel="stylesheet" type="text/css" href="librerias/alertifyjs/css/themes/default.css">
    <link rel="stylesheet" type="text/css" href="estilos.css">

  <script src="librerias/jquery-3.2.1.min.js"></script>
  <script src="js/funciones.js"></script>
  <script src="librerias/bootstrap/js/bootstrap.js"></script>
  <script src="librerias/alertifyjs/alertify.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">CAMINO SEGURO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menú
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="inicio.html" class="nav-link">Inicio</a></li>
            <li class="nav-item">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="incio.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Denuncia</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="consultar_denuncia.html">Consultar denuncias</a>
                  <a class="dropdown-item" href="generar_denuncia.html">Generar denuncia</a>
                  <a class="dropdown-item" href="denuncias_usuario.html">Tus denuncias</a>
                </div>
            </li>
            <li class="nav-item"><a href="seguimiento.html" class="nav-link">Seguimiento</a></li>
            <li class="nav-item"><a href="contacto.html" class="nav-link">Contacto</a></li>
            <li class="nav-item"><a href="../ingresar.html" class="nav-link">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <section class="home-slider owl-carousel ftco-degree-bg">
      <div class="slider-item bread-wrap" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">
            <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center">
              <p class="breadcrumbs"><span class="mr-2"><a >Inicio</a></span> <span class="mr-2"><a >Denuncia</a></span> <span>Tus Denuncias</span></p>
              <h1 class="mb-3">Tus Denuncias</h1>
              <p>En esta parte puede modificar y eliminar las denuncias que han sido registradas por usted.</p>
              <p>
            </div>
          </div>
        </div>
      </div>

    </section>





    <section class="ftco-section testimony-section ftco-degree-bg">
    <div class="container">
      <div id="tabla"></div>
    </div>
    <div class="modal fade" id="modalEdicion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Actualizar datos</h4>
      </div>
      <div class="modal-body">
          <input type="text" hidden="" id="idpersona" name="">
          <label>Fecha</label>
          <input type="date" name="" id="Fecha" class="form-control input-sm">
          <label>Lugar</label>
          <select name="" id="Lugar" class="form-control input-sm">
          <option>Acambay</option>
          <option>Acolman</option>
          <option>Aculco</option>
          <option>Amanalco</option>
          <option>Amatepec</option>
          <option>Amecameca</option>
          <option>Apaxco</option>
          <option>Atenco</option>
          <option>Atizapán</option>
          <option>Atizapán de Zaragoza</option>
          <option>Atlacomulco</option>
          <option>Atlautla</option>
          <option>Axapusco</option>
          <option>Ayapango</option>
          <option>Calimaya</option>
          <option>Capulhuac</option>
          <option>Coatepec Harinas</option>
          <option>Cocotitlán</option>
          <option>Coyotepec</option>
          <option>Cuautitlán</option>
          <option>Chalco</option>
          <option>Chapa de Mota</option>
          <option>Chapultepec</option>
          <option>Chiautla</option>
          <option>Chicoloapan</option>
          <option>Chiconcuac</option>
          <option>Chimalhuacán</option>
          <option>Donato Guerra</option>
          <option>Ecatepec de Morelos</option>
          <option>Ecatzingo</option>
          <option>Huehuetoca</option>
          <option>Hueypoxtla</option>
          <option>Huixquilucan</option>
          <option>Isidro Fabela</option>
          <option>Ixtapaluca</option>
          <option>Ixtapan de la Sal</option>
          <option>Ixtapan del Oro</option>
          <option>Ixtlahuaca</option>
          <option>Xalatlaco</option>
          <option>Jaltenco</option>
          <option>Jilotepec</option>
          <option>Jilotzingo</option>
          <option>Metepec</option>
          <option>Mexicaltzingo</option>
          <option>Nezahualcóyotl</option>
          <option>Nextlalpan</option>
          <option>Nicolás Romero</option>
          <option>Nopaltepec</option>
          <option>Otumba</option>
          <option>Otzoloapan</option>
          <option>Otzolotepec</option>
          <option>Otumba</option>
          <option>Papalotla</option>
          <option>San Antonio la Isla</option>
          <option>San Felipe del Progreso</option>
          <option>San Martín de las Pirámides</option>
          <option>Tecámac</option>
          <option>Temascalapa</option>
          <option>Temascalcingo</option>
          <option>Temascaltepec</option>
          <option>Teotihuacán</option>
          <option>Tepetlaoxtoc</option>
          <option>Tepetlixpa</option>
          <option>Tepotzotlán</option>
          <option>Tequixquiac</option>
          <option>Texcoco</option>
          <option>Tezoyuca</option>
          <option>Tianguistenco</option>
          <option>Toluca</option>
          <option>Tultepec</option>
          <option>Tultitlán</option>
          <option>Valle de Bravo</option>
          <option>Zumpango</option>
          <option>Otro</option>
          </select>
          <label>Direccion</label>
          <input type="text" name="" id="Direccion" class="form-control input-sm">
           <label>Hora</label>
          <input type="time" name="" id="Hora" class="form-control input-sm">
          <label>Descripcion</label>
          <input type="text" name="" id="Descripcion" class="form-control input-sm" maxlength="33">
          <label>Evidencia</label>
          <select name="" id="Evidencia" class="form-control input-sm">
            <option><br>Fotos</option>
            <option>Vídeos</option>
            <option>Cámaras de Seguridad</option>
            <option>Testigos presenciales</option>
            <option>Ninguno</option>
            <option>Otro</option>
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" id="actualizadatos" data-dismiss="modal">Actualizar</button>
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Eliminar datos</h4>
      </div>
      <div class="modal-body">
          <input type="text" hidden="" id="idpersonau" name="">
          <label>Fecha</label>
          <input type="text" name="" id="Fechau" class="form-control input-sm">
          <label>Lugar</label>
          <input type="text" name="" id="Lugaru" class="form-control input-sm">
          <label>Dirección</label>
          <input type="text" name="" id="Direccionu" class="form-control input-sm">
          <label>Hora</label>
          <input type="text" name="" id="Horau" class="form-control input-sm">
          <label>Descripcion</label>
          <input type="text" name="" id="Descripcionu" class="form-control input-sm">
          <label>Evidencia</label>
          <input type="text" name="" id="Evidenciau" class="form-control input-sm">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="eliminadatos" data-dismiss="modal">eliminar</button>
        
      </div>
    </div>
  </div>
</div>
      
    </section>
    

        <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Sitio</h2>
              <p>Tu seguridad es primero y te damos la facilidad de cuidarla.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                <li class="ftco-animate"><a><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Enlaces</h2>
              <ul class="list-unstyled">
                <li><a href="inicio.html" class="py-2 d-block">Inicio</a></li>
                <li><a href="consultar_denuncia.html" class="py-2 d-block">Consultar Denuncia</a></li>
                <li><a href="generar_denuncia.html" class="py-2 d-block">Registrar Denuncia</a></li>
                <li><a href="denuncias_usuario.html" class="py-2 d-block">Tus denuncias</a></li>
                <li><a href="seguimiento.html" class="py-2 d-block">Seguimiento</a></li>
                <li><a href="contacto.html" class="py-2 d-block">Contacto</a></li>
                <li><a href="mapa.html" class="py-2 d-block">Mapa de Sitio</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Información de Contacto</h2>
              <ul class="list-unstyled">
                <li><a class="py-2 d-block">Estado de México, Tecámac de Felipe Villanueva, Universidad Politécnica de Tecámac.</a></li>
                <li><a class="py-2 d-block">5550328368</a></li>
                <li><a class="py-2 d-block">5617736115</a></li>
                <li><a class="py-2 d-block">lizeth.rdzf@gmail.com</a></li>
                <li><a class="py-2 d-block">cristian.buendia.m113@gmail.com</a></li>
              </ul>
            </div>
          </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  <script>document.write(new Date().getFullYear());</script> Sitio elaborado en la Unversidad Politécnica de Tecámac por: Buendia Martínez Cristian Antony y Rodriguez Flores Lizeth
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    $('#tabla').load('componentes/tabla.php');
  });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#actualizadatos').click(function(){
          actualizaDatos();
        });
    });
</script>

<script type="text/javascript">
  $(document).ready(function(){
        $('#eliminadatos').click(function(){
          eliminaDatos();
        });
    });
</script>